.expenses-filter {
  color: white;
  padding: 0 1rem;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  width: 9.875rem;
  height: 2.5625rem;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}

.expenses-filter select * {
  font-weight: bold;
}

select::-webkit-scrollbar {
  width: 10px;
}
select::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
}
select::-webkit-scrollbar-track {
  background-color: gray;
  box-shadow: inset 0px 0px 5px white;
}
